header {
    background-color: royalblue;
    color: white;
    padding: 1em;
    margin-bottom: .5em;
}

textarea {
    width: 49%;
    height: auto;
    margin-right: .75em;
    float: right;
    resize: none;
}