header {
    background-color: royalblue;
    color: white;
    padding: 1em;
    margin-bottom: .5em;
}

textarea {
    width: 49%;
    height: auto;
    margin-right: .75em;
    float: right;
    resize: none;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
}